<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>You're Logged out! Log in to use OfficeLibrary</h2>
      <a class="btn btn-primary" href="<%= user_google_oauth2_omniauth_authorize_path %>" role="button">Sign in with Google</a>
    </div>
  </div>
</div>